# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Topics/Constructor/Geometric cube/out/
/Topics/Constructor/Geometric cube/out/production/classes/
/Topics/Declaring a method/Vowel or not/out/
/Topics/Declaring a method/Vowel or not/out/production/classes/
/Topics/Functional decomposition/Calculator with four methods/out/
/Topics/Functional decomposition/Calculator with four methods/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/